body {
  background-color: #e3f2fd;
  padding: 40px;
}
img {
  width: 150px;
  height: 75px;
  margin: 10px 40px 20px;
}
p {
  width: 200px;
  margin: 40px;
}
textarea {
  width: 60%;
  height: 40px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 2px solid #d8d6d6;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: auto;
  display: block;
}
button {
  margin: 40px;
}
div {
  width: 60%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #d8d6d6;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: auto;
}